* {
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    margin: 40px 0;
}
.white{
    background-color: white;
}
.red{
    background-color: red;
}
